{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<li> <p style="COLOR: black;">{{ title }}
    <u><a href="{{ post.paperurl }}">[Thesis]</a></u>
    <u><a href="{{ post.slideurl }}">[Slides]</a></u>
    <u><a href="{{ post.videourl }}">[Defense]</a></u>
  </p>
</li>
